In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('heart.csv')
df.head()
df.describe()
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
to_drop = ['cp','fbs','restecg','thalach','exang','oldpeak','slope','thal','ca','target']
df = df.drop(to_drop, axis=1)
df.head()

   age  sex  trestbps  chol
0   63    1       145   233
1   37    1       130   250
2   41    0       130   204
3   56    1       120   236
4   57    0       120   354

In [8]:
new_names = {'age':'Age','sex':'Sex','trestbps':'BPS','chol':'Cholestrol'}
df = df.rename(columns = new_names)
df.head()

   Age  Sex  BPS  Cholestrol
0   63    1  145         233
1   37    1  130         250
2   41    0  130         204
3   56    1  120         236
4   57    0  120         354

In [9]:
replace_values = {0: 'F',1: 'M'}
df = df.replace({'Sex':replace_values})
df.head()

   Age Sex  BPS  Cholestrol
0   63   M  145         233
1   37   M  130         250
2   41   F  130         204
3   56   M  120         236
4   57   F  120         354